@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/index.css */

/* Тонкий скроллбар для Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px; /* Высота для горизонтального скролла */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f5f9; /* slate-100 */
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #cbd5e1; /* slate-300 */
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #94a3b8; /* slate-400 */
  }